@model Cosmo.Presentation.Models.Ship.WingsWeaponsViewModel

@{
    ViewData["Title"] = "Wings & Weapons";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-12">
        <form asp-action="ConfigureAccessoires">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EquippedHull"/>
            <input type="hidden" asp-for="EquippedEngine"/>

            @for (int i = 1; i < Model.WingAmount + 1; i++)
            {
                <label>Wing @i</label>
                <select class="form-control" asp-for="EquippedWings" asp-items="@(new SelectList(Model.Wings,"Id","Name"))"></select>
                <label>Weapon @i</label>
                <select class="form-control" asp-for="EquippedWeapons" asp-items="@(new SelectList(Model.Weapons,"Id","Name"))"></select>
            }

            <button type="submit" class="btn btn-primary">Next</button>
        </form>
    </div>
</div>
